@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Black+Han+Sans&display=swap");
* {
  font-family: "Black Han Sans", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  margin: 0;
  padding: 0;
}
